@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-green-pet: #16ec12;
}

:root {
  font-family: 'Onest Variable', sans-serif;
  color-scheme: light dark ;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color:#f7f8f6;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000;
  }
}


